PORT=9000
TZ=Asia/Jakarta
DB_DRIVER=postgres
DB_MASTER=postgres://noval:noval@127.0.0.1:5432/database_master?sslmode=disable
DB_MAX_OPEN_CONN=10
DB_MAX_IDLE_CONN=5
DB_LOG=false
ACCESS_TOKEN_SECRET=7rJx7EV68xmUCnsK
ACCESS_TOKEN_EXPIRES_IN=3h
REFRESH_TOKEN_SECRET=U486UdVzK6696rjL
REFRESH_TOKEN_EXPIRES_ID=24h